<p>-保存した内容-</p>
<p><%= h @memo['title'] %></p>
<p style="white-space: pre-wrap;"><%= h @memo['text'] %></p>
<form method="post" action="/memos/<%= @memo['id'] %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除">
</form>
<a href="/memos/<%= @memo['id'] %>/edit">変更</a>
<a href="/memos">戻る</a>
