<p>メモアプリ</p>
<form method="post" action="/memos/<%= @memo_id %>">
  <input type="hidden" name="_method" value="PATCH">
  <label>タイトル</label><br>
    <input type="text" name="title" value="<%= @title %>"><br>
    <br>
  <label>本文</label><br>
    <textarea name="text"><%= @text %></textarea><br>
    <br>
  <input type="submit" value="変更">
</form>
<form method="get" action="/memos">
  <input type="submit" value="戻る">
</form>
