<p>メモアプリ</p>
<form method="post" action="/memos/<%= @memo_id %>">
  <input type="hidden" name="_method" value="PATCH">
  <label>タイトル</label><br>
    <input type="text" name="title" value="<%= h @title %>"><br>
    <br>
  <label>本文</label><br>
    <textarea name="text"><%= h @text %></textarea><br>
    <br>
  <input type="submit" value="変更">
</form>
<a href="/memos">戻る</a>
