メモアプリ
<form method="post" action="/memos">
  <label>タイトル</label><br>
    <input type="text" name="title" value="<%= @title %>"><br>
  <label>本文</label><br>
    <textarea name="text"><%= @text %></textarea><br>
  <input type="submit" value="変更">
</form>
