<p>メモアプリ</p>
<form method="post" action="/memos/<%= @memo['id'] %>">
  <input type="hidden" name="_method" value="PATCH">
  <label>タイトル</label><br>
    <input type="text" name="title" value="<%= h @memo['title'] %>"><br>
    <br>
  <label>本文</label><br>
    <textarea name="text"><%= h @memo['text'] %></textarea><br>
    <br>
  <input type="submit" value="変更">
</form>
<a href="/memos/<%= @memo['id'] %>">戻る</a>
