<p>メモアプリ</p>
<form method="post" action="/memos">
  <label>タイトル</label><br>
    <input type="text" name="title" required minlength="1" maxlength="20">
    <br>
    <br>
  <label>本文</label><br>
    <textarea name="text" maxlength="120"></textarea><br>
    <br>
  <input type="submit" value="保存">
</form>
<a href="/memos">戻る</a>
