<p>メモアプリ</p>
<form method="post" action="/memos">
  <label>タイトル</label><br>
    <input type="text" name="title"><br>
    <br>
  <label>本文</label><br>
    <textarea name="text"></textarea><br>
    <br>
  <input type="submit" value="保存">
</form>
<form method="get" action="/memos">
  <input type="submit" value="戻る">
</form>
